<?xml version="1.0" encoding="utf-8"?>

<!--
Sample license text.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="capturaSimple.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <capturaSimple.Properties.Settings>
            <setting name="rutaCaptures" serializeAs="String">
                <value />
            </setting>
            <setting name="formatDesatCaptura" serializeAs="String">
                <value>JPEG</value>
            </setting>
            <setting name="llenguaPerDefecte" serializeAs="String">
                <value />
            </setting>
            <setting name="autoDesatCaptures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ultimPathDesarCom" serializeAs="String">
                <value />
            </setting>
        </capturaSimple.Properties.Settings>
    </userSettings>
</configuration>
